/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box; */
	/* 当定义width和height时，border和padding的参数值被包含在width和height之内 */

	/* background-color: #323233;
} */

/* 颜色 */
.yellow{
    color:#FFD300;
}

.blue{
    color: #18FFF8;
}

.gray{
	color:#A0A0A3;
}

/* 主体 */
/* body {
	font-family: '黑体';
	color: #F2F2F7;
	text-align: center;
	
} */

.page {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 25%;
}

.title1{
	margin-top: 250px;
	color: #18FFF8;
	font-size: 50px;
	font-family: '思源宋体','宋体';
	
}

.title2{
	font-size: 30px;
	font-family: '思源宋体','宋体';
	margin-bottom: 300px;
}

.tubiao{
	color:#f2f2f2;
	font-size:20px;
	text-align:center;
	font-family: '思源宋体','宋体';
	margin-bottom: 0px;
	margin-top: 30px;
}

.ps{
	color:#A0A0A3;
	font-size:12px;
	text-align: right;
	font-family: '黑体';
	margin-bottom: 30px;
	margin-top: 0px;
}

.content {
	margin-top: 5%;
	margin-bottom: 5%;

	text-align:left;
	font-size: 16px;
	font-family: '黑体';
	line-height:25px;
	text-align: justify;

}

p{
	margin-bottom: 10px;
}

.tiao{
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}

.tpng{
	position: absolute;

}

.a0102left {
	
	width:240px;
}

.a0102right{ 
	color: #18FFF8;
    font-size: 18px;
	font-family: '思源宋体','宋体';
	line-height:120%;
 }

#back{
	width:600px;
	height:480px;
	background-image:linear-gradient(
    rgba(0, 0, 0, 0),#323233fb);
	position: absolute;

}


.a0103left{
	margin-left:8%;
	/* margin-right:3%; */
	width:130px;
}

.a0103right{
	margin-right: 15%;
	/* margin-top: 10px; */
	width:450px;
}

.fingerprint {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 300x;
	max-width: 300px
}

.fingerprintClass {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='fingerprint' viewBox='0 0 100 100'%3E%3ClinearGradient id='scan' gradientTransform='rotate(90)'%3E %3Cstop offset='0%25' stop-color='rgba(0, 250, 255, 0)' /%3E %3Cstop offset='40%25' stop-color='rgba(0, 250, 255, 0.3)' /%3E %3Cstop offset='49%25' stop-color='rgba(0, 250, 255, 0.7)' /%3E %3Cstop offset='50%25' stop-color='rgba(0, 250, 255, 1)' /%3E %3Cstop offset='51%25' stop-color='rgba(0, 250, 255, 0.7)' /%3E %3Cstop offset='60%25' stop-color='rgba(0, 250, 255, 0.3)' /%3E %3Cstop offset='100%25' stop-color='rgba(0, 250, 255, 0)' /%3E %3C/linearGradient%3E%3Cg class='creases' fill='none' stroke='%230df' stroke-width='3.3' stroke-linecap='round'%3E%3Cpath d='M 50 50 Q 50 73.4 20.3 84.2'%3E%3Canimate attributeName='stroke-dasharray' values='0; 54; 0' dur='6s' repeatCount='indefinite' begin='-1.1s' /%3E%3C/path%3E%3Cpath d='M 26.6 88.7 Q 58.1 76.1 58.1 50 C 58.1 43.7 50.9 41 47.3 42.8 C 40.1 46.4 43.7 50 41 59 Q 36.5 73.4 14.9 78.8'%3E%3Canimate attributeName='stroke-dasharray' values='0; 134.77; 0' dur='6s' repeatCount='indefinite' begin='-5.57s' /%3E%3C/path%3E%3Cpath d='M 33.8 92.3 Q 66.2 78.8 66.2 50 C 66.2 37.4 55.4 34.7 50 34.7 C 33.8 34.7 35.6 49.1 33.8 57.2 Q 31.1 69.8 10.4 72.5'%3E%3Canimate attributeName='stroke-dasharray' values='0; 159.42; 0' dur='6s' repeatCount='indefinite' begin='-3.22s' /%3E%3C/path%3E%3Cpath d='M 50 93.2 Q 72.5 81.5 75.2 50 C 76.1 32.9 60.8 26.6 50 26.6 C 25.7 26.6 28.4 45.5 26.6 54.5 Q 24.8 65.3 7.7 65.3'%3E%3Canimate attributeName='stroke-dasharray' values='0; 174.55; 0' dur='6s' repeatCount='indefinite' begin='-1.54s' /%3E%3C/path%3E%3Cpath d='M 68 88.7 Q 82.4 72.5 83.3 50 C 84.2 29.3 68.9 17.6 50 17.6 C 19.4 17.6 20.3 41.9 18.5 50.9 Q 17.6 57.2 6.8 58.1'%3E%3Canimate attributeName='stroke-dasharray' values='0; 180.14; 0' dur='6s' repeatCount='indefinite' begin='0s' /%3E%3C/path%3E%3Cpath d='M 86.9 71.6 Q 90.5 64.4 91.4 50 C 93.2 2.3 20.3 -8.5 12.2 38.3 Q 11.3 43.7 10.4 47.3'%3E%3Canimate attributeName='stroke-dasharray' values='0; 166.88; 0' dur='6s' repeatCount='indefinite' begin='-4.67s' /%3E%3C/path%3E%3C/g%3E%3Cpath d='M 50 0 H 100 V 100 H 0 V 0 H 50' fill='none' stroke='%230df' stroke-width='3' stroke-dasharray='0 25 50 25'/%3E%3Crect x='0.5' y='0' height='100' width='99' fill='url(%23scan)'%3E%3Canimate attributeName='y' values='-50; 50; -50' dur='6s' repeatCount='indefinite' begin='0s' /%3E%3C/rect%3E%3C/svg%3E");
	height: 50px;
	width: 50px
}



.i0302right{
	width: 500px;
	/* margin-right: 5%; */
	/* margin-left: 50px; */
}

.i0303left{
	width: 340px;
	margin-left: 50px;
	/* margin-right: 8%; */
}

.i0402right{
	
	margin-right: 5%;
	
}

.foot{
	align-items: center;
	color:#A0A0A3;
	font-size: 15px;
	margin-top: 150px;
	margin-left: 10%;
	margin-right: 25%;
}

.foot-title{
	font-size: 20px;
	font-family: '思源宋体','宋体';
	margin-bottom: 1%;
}